<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = 'login info')"></head>


<body>
<div class="text-center">
  <h1>Login</h1>
  <form method="post" th:action="@{/}">
    <!--/* エラーメッセージ */-->
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
       th:text="'LOGIN ERROR DUE TO '+${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
      </p>
    <label>Username</label> <input type="text" name="name" /><br /> <br />
    <label>Password</label> <input type="password" name="pass" /><br />
    <br />
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>

</body>
</html>