<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>login</title>
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
          rel="stylesheet">

</head>
<body>
<div class="text-center">
  <h1>Login</h1>
  <form method="post" th:action="@{/}">
    <!--/* エラーメッセージ */-->
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
       th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
      login error</p>
    <label>Username</label> <input type="text" name="username" /><br /> <br />
    <label>Password</label> <input type="password" name="password" /><br />
    <br />
    <button class="btn btn-primary" type="submit">Login</button>
  </form>
</div>

</body>
</html>